# PyTorch 2.11.0 with CUDA 12.8
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
torchaudio==2.11.0+cu128

pyyaml
scipy
opencv-python
numba==0.65.1
scikit-image
scikit-learn
tqdm
thop
matplotlib
seaborn
wandb
omegaconf
python-dotenv
lightning
rich
easydict
onnx
onnxruntime-gpu
onnxscript

# Required/recommended for building the CUDA extension
ninja